body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #0e1823;
}
button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  height: auto;
}
.header-page {
  width: 1240px;
  background-color: #fbfbfb;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  margin: 0 auto;
  padding: 4 30px;
}
.header-page .container {
  display: flex;
  align-items: center;
}
.header-page-nav {
  display: flex;
  align-items: center;
  gap: 375px;
}
.header-page-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-page-nav-list {
  display: flex;
  gap: 4px;
}
.nav-list-item {
}
.nav-list-link {
  border-radius: 8px;
  background: rgba(27, 65, 75, 0.5);
  padding: 15px 25px 15px 24px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.header-page-social-list {
  display: flex;
  gap: 10px;
  margin: auto;
}
.header-social-list-item {
  width: 24px;
  height: 24px;
}
.social-link {
  background-color: #1b414b;
  color: #fbfbfb;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list-item {
  width: 24px;
  height: 24px;
}
