body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #0e1823;
}
button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  height: auto;
}
.header-page {
  width: 1240px;
  background-color: #fbfbfb;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  margin: 32px auto 0;
  padding: 4px 30px;
}
.header-page .container {
  display: flex;
  align-items: center;
}
.header-page-nav {
  display: flex;
  align-items: center;
  gap: 375px;
}
.header-page-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-page-nav-list {
  display: flex;
  gap: 4px;
}
.nav-list-item {
}
.nav-list-link {
  border-radius: 8px;
  background: rgba(27, 65, 75, 0.5);
  padding: 15px 25px 15px 24px;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.nav-list-link:hover,
.nav-list-link:focus {
  background-color: #1b414b;
}
.header-page-social-list {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.header-social-list-item {
  width: 24px;
  height: 24px;
}
.social-link {
  background-color: #1b414b;
  color: #fbfbfb;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list-item {
  width: 24px;
  height: 24px;
}

.hero {
  padding-top: 155px;
  padding-bottom: 180px;
  max-width: 1001px;
  margin: 0 auto;
}
h1 {
  font-weight: 500;
  font-size: 80px;

  /* line-height: 80px; */
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 24px;
}
.hero-text {
  font-weight: 300;
  font-size: 16px;

  /* line-height: 22px; */
  line-height: 1.4;
  text-align: center;
  color: rgba(251, 251, 251, 0.7);
  margin: 0 202px;
}
.hero-button {
  font-weight: 500;
  font-size: 18px;

  /* line-height: 20px; */
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  border-radius: 15px;
  padding: 16px 40px;
  background-color: #1b414b;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
}
.hero-image {
  background-image: url(../images/image-background.jpg);
  background-size: cover;
  width: 1440px;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.fleet {
  border-radius: 24px;
  max-width: 1340px;
  height: 675px;
  background-color: #fbfbfb;
}
.fleet .container {
  display: block;
}
.fleet-description {
  display: flex;
}
.fleet-title {
  font-weight: 500;
  font-size: 48px;

  /* line-height: 48px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin: 0 auto;
  margin-left: 50px;
  padding-top: 50px;
  max-width: 537px;
  background-color: #fbfbfb;
}
.fleet-proposition {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-right: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
  max-width: 404px;
  background-color: #fbfbfb;
}
.fleet-title-second {
  font-weight: 400;
  font-size: 23px;

  /* line-height: 23px; */
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  margin-bottom: 20px;
}
.fleet-text {
  font-weight: 400;
  font-size: 13px;

  /* line-height: 15px; */
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #040306;
  background-color: #fff;
}
.fleet-photo {
  border-radius: 0 24px 0 0;
  width: 100%;
  height: 470px;
}
